<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: DejaVu Sans, sans-serif;
            font-size: 14px;
            line-height: 1.6;
        }
        h1, h2 {
            text-align: center;
        }
        .content {
            margin-top: 40px;
        }
        .signature {
            margin-top: 80px;
            text-align: right;
        }
    </style>
</head>
<body>
<h1>SGRH - Gestion des Congés</h1>

<p><strong>Date :</strong> {{ "now"|date("d/m/Y") }}</p>

<div class="content">
    <p><strong>Objet :</strong> Acceptation de la Demande de Congé</p>

    <p>
        Monsieur/Madame {{ user.firstName ~ ' ' ~ user.lastName }},
    </p>

    <p>
        Nous avons le plaisir de vous informer que votre demande de congé pour la période du
        {{ demande.dateDebut|date('d/m/Y') }} au {{ demande.dateFin|date('d/m/Y') }} a été approuvée.
    </p>

    <p>
        Vous êtes donc autorisé(e) à bénéficier de votre congé conformément aux règles en vigueur au sein de notre entreprise.
    </p>

    <p>
        Merci de vous assurer que toutes vos responsabilités sont bien prises en charge avant votre départ afin de garantir la continuité du service.
    </p>

    <p>
        Nous vous souhaitons un agréable congé.
    </p>
</div>

<div class="signature">
    <p>Cordialement,</p>
    <p><strong>Responsable RH</strong></p>
</div>
</body>
</html>
