{% extends 'front.html.twig' %}

{% block title %}Hello UserDashController!{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background-color: #F8FAFC !important;
            color: #212529 !important;
        }

    </style>
{% endblock %}


{% block body %}
<h2>Hello From Dash User</h2>
{% endblock %}
